{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2", "jest"],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-object-rest-spread"
      ]
    }
  }
}