name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Start container and run docker-compose
      run: |
          mv ./backend/data/config.template.json ./backend/data/config.json
          docker build ./docker -t teamhub
          docker-compose up -d
    - name: Install packages
      run: docker exec teamhub_nodejs npm install
    - name: Run Tests
      run: docker exec teamhub_nodejs npm run test